@use '../abstract' as a;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.25rem;
  width: min(100%, 110rem);

  @include a.breakpoint(medium) {
    padding: 1.5rem 2.75rem;
  }

  @include a.breakpoint(large) {
    padding: 1.5rem 5rem;
  }

  &__logo {
    width: 5rem;

    @include a.breakpoint(large) {
      width: 7rem;
    }
  }
}