// Colors
$colors: (
  // Main Colors
        blue: (
                '900': #13183f,
                '600': #666ca3,
        ),
        pink: (
                '600': #f74780,
                '300': #ffa7c3,
        ),
        grey: (
                '500': #83869a,
        ),
        gradients: (
                'pink': linear-gradient(0deg, #f02aa6 0%, #ff6f48 100%),
                'purple': linear-gradient(0deg, #4851ff 0%, #f02aa6 100%),
                'white': linear-gradient(180deg, #ffffff 50%, #f0f1ff 100%),
        ),
  // Other
        'background': #fafafa,
        'box-shadow': #06168d0a,
        'white': #ffffff,
        'black': #000000,
);