// Colors
$colors: (
  // Main Colors
        blue: (
                '900': #13183F,
                '600': #666CA3,
        ),
        pink: (
                '600': #F74780,
                '300': #FFA7C3,
        ),
        grey: (
                '500': #83869A,
        ),
        gradients: (
                'pink': linear-gradient(0deg, #F02AA6 0%, #FF6F48 100%),
                'purple': linear-gradient(0deg, #4851FF 0%, #F02AA6 100%),
                'white': linear-gradient(180deg, #FFF 0%, #F0F1FF 100%),
        ),
  // Other
        'background': #fafafa,
        'box-shadow': #06168D19,
        'white': #ffffff,
        'black': #000000,
);